[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elsapy = "*"
pandas = "*"
requests = "*"
matplotlib = "*"
tqdm = "*"
pybtex = "*"

[dev-packages]

[requires]
python_version = "2.7"
